.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  text-align: center;
  color: rgb(68, 68, 137);
  font-family: Arial, sans-serif; 
  margin-top: 20px; 
}

.custom-navbar {
  background-color: #09b0ce;
  color: white;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  max-width: 500px;
  margin: 0 auto; 
}

.checkbox-item {
  flex: 1 1 45%; 
  text-align: left; 
}
