.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  text-align: center;
  color: rgb(68, 68, 137);
  font-family: Arial, sans-serif; 
  margin-top: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: 30px;
}

.custom-navbar {
  background-color: #09b0ce;
  color: white;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  max-width: 500px;
  margin: 0 auto; 
  justify-content: space-between;
}

.checkbox-item {
  flex: 1 1 35%; 
  text-align: left; 
}

.bold-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.btn {
  background-color: #28b0c8 !important;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0 0 10px;
}

.btn:hover {
  background: linear-gradient(45deg, #017b9b, #09b0ce);
  transform: scale(1.05);
}

.create-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link-custom {
  font-size: 18px !important;
  font-weight: bold !important;
  color: black !important;
  padding: 1px 20px !important;
}

.nav-link-custom:hover {
  color: white !important;
  transform: scale(1.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}